@import '~less/mixin.less';

.modal {
  width: 328px;

  :global {
    .am-modal-title {
      font-size: 16px;
      color: #000;
      font-weight: 500;
    }
  }

  &-action {
    margin-top: 20px;

    :global {
      .ant-btn {
        display: block;
        width: 100%;
        height: 44px;
        line-height: 44px;
        border-radius: 5px;
      }
    }
  }
}

.exchange-box {
  height: 44px;
  display: flex;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #D7D7D7;
  margin-top: 10px;
  font-size: 13px;
  color: #4A4A4A;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  &.single-text {
    justify-content: center;
  }

  &:first-child {
    margin-top: 0;
  }

  &-active {
    color: #fff;
    border-color: #293677;
    background: #293677;
  }

  :global {
    .ant-divider, .ant-divider-vertical {
      height: 5px;
      margin-top: 4px;
    }
  }
}